


@import"titulos";
@import"botonyprepagas";
@import"sedes";


#colores{
    background-image:radial-gradient(rgb(168, 146, 247),rgb(225, 241, 231));
}

body{ 
    background-image:radial-gradient(rgb(19, 150, 226),rgb(5, 10, 10));
}


 


.parrafoIndex{
    display: flex;
    flex-direction: column;
    #textoIndex{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: red;
        justify-content: center;
        animation-name: animaciones;
        color: red;
        animation-duration: 3s;
    }
    }

    .sedesIndex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: linear-gradient( to bottom right, yellow ,rgb(133, 233, 236));
        padding: 25px;
        span a {
            text-align: center;
        }
    }

    
.kineIndex{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}

    /*articulos cientificos*/

#cientifico{
    color: rgb(159, 184, 47);
    background-color: rgb(7, 17, 16);
    padding: 25px;
}
#cientifico::after{
    content: "⇩ ARTICULOS";
    color: rgb(243, 209, 209);
    background-color: rgb(240, 30, 159);
    padding: 3px;
    margin: 2px;

}

footer{
    background-image:radial-gradient(rgb(168, 146, 247),rgb(225, 241, 231));
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    }


    #columnasKine{
        display: flex;
        justify-content: space-around;
    }
    
/**contactos*/
.contactosPagina{
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation-name: contactos;
    animation-iteration-count: inherit;
    animation-duration: 3s;
    


@keyframes contactos{
    0%{
        transform: translatex(30px);
    
 }


    50%{transform: translatex(250px);

    }

    100%{
        transform: translate(-30);
    }

    
}
}

#contaco1{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(6, 41, 61),rgb(192, 230, 22));
    
    padding: 25px;
    margin: 10px;


#contacto2{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(31, 58, 3),rgb(55, 58, 17));
    
    padding: 25px;
    margin: 10px;


#contacto3{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(224, 37, 152),rgb(85, 125, 170));
    
    padding: 25px;
    margin: 10px;


#contacto4{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(72, 143, 177),rgb(140, 175, 45));
    
    padding: 25px;
    margin: 10px;


#contacto5{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(18, 26, 10),rgb(223, 121, 26));
    
    padding: 25px;
    margin: 10px;


#contacto6{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(154, 216, 92),rgb(175, 45, 62));
    
    padding: 25px;
    margin: 10px;}

}
}


